table {
  width: auto;
  margin: 10% auto 10% auto;
  border: 1px solid black;
}
#title {
  padding: 5px;
  text-align: center;
}
input {
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
}

::placeholder {
  padding-left: 5px;
  color: white;
}

#cel {
  background-color: rgba(14, 226, 226, 0.484);
}
#fah {
  background-color: rgba(15, 201, 201, 0.836);
}
#kel {
  background-color: rgba(96, 145, 236, 0.67);
}
